html, body{
    background : #fff;
    font-family: 'Roboto', sans-serif;
}

#wrapper{
    margin: 0 auto;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }

header {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    height: 100px;
    overflow: hidden;
    text-align: center;

    h1{
        font-size: 5em;
        color: rgba(0,121,107,1);
    }
}

/* Recipes */

#recipe-cont-parent{
    min-height: 500px; 
}
#recipes-container{
    display : flex; 
    flex-direction: row; 
    flex-wrap: wrap;  
    height: inherit;
    margin-bottom: 10px;

    .recipe-card{
        display: flex;
        flex-direction: column;
        height: 198px;
        width: 354px;
        margin: 10px;
        border: 0.1px solid #dadce0;
        border-radius: 10px ;
        box-shadow:  0 2px 4px 0 rgba(0,0,0,0.1);
        overflow: hidden;

        h2{
            padding: 2px;
            text-align: center;
            font-size: 1.5em;
            text-transform: uppercase;
            color: #000;
            font-family: 'Roboto', sans-serif;
            font-weight: lighter;
        }

        img{
            border-top: 2px solid #dadce0;
            object-fit: cover;
            height: 300px;
            width: 100%;
        }


    }
}

.button-details {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
   
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 5px;
    min-height: 3rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

/* Footer */
footer{
    margin-top: 10px;
    text-align: center;
    span{
        font-size: 1.5em;
        color: rgba(0,121,107,1);
    }
}

.redly{
   border: 1px red solid !important;
}